* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  color: inherit;
  text-decoration: none;
}
@font-face {
  font-family: exo-bold;
  src: url("/public/fonts/Exo2-Bold.ttf");
}
@font-face {
  font-family: exo-md;
  src: url("/public/fonts/Exo2-Medium.ttf");
}
@font-face {
  font-family: exo-reg;
  src: url("/public/fonts/Exo2-Regular.ttf");
}
.hero_flex{
  display: flex;
  padding-left: 50px;
  padding-right: 50px;
  justify-content: space-around;
}
.hero_flex{
background-color: #00ACFF;
  align-items: center;
  justify-content: space-between;
  background-size: cover;
  background-repeat: no-repeat;
}
.content_9{
  font-family: exo-bold;
  font-size: 60px;
  color: #010033;
}
.p_1{
font-size: 20px;
text-align: center;
width: 68%;
margin-left: auto;
margin-right: auto;
margin-top: 30px;
margin-bottom: 30px;
font-family: exo-md;
}
.wel_div{
  text-align: center;
  margin-top: 70px;
  margin-bottom: 70px;
}
.wel_img{
  width: 60%;
  height: 450px;

}
.h_1{
  color: #000;
  text-align: center;
  font-size: 28px;
  font-family: exo-bold;
}
.content_9_span{
  color: #fff;
}
.Signup_flex{
  display: flex;
  justify-content: space-between;
  padding-top: 100px;
  align-items: center;
padding-right: 60px;
}
.login_flex{
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-top: 100px;
  align-items: center;
padding-right: 60px;
}
.setting_btn{
width: 96% !important;
}
.content_part{
  width: 40%;
}
.setting_part{
margin-left: auto;
margin-right: auto;
width: 100%;
}
.justify_content{
  justify-content: center !important;
  width: 100%;
}
.login_width{
  width: 100%;
  padding-right: 0 !important;
}
.cpad{
  display: block;
  padding-left: 1.5rem;
}
.pr_4 {
  padding-right: 1.5rem;
}
.forgot_title{
text-align: center;
font-family: exo-reg;
font-size: 13px;
color: black;
}

.ab_img{
  position: absolute;
  right: 0;
  height: 200px;
}
.bg_img{
  background-image: url(/public/images/setting.svg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  padding-top: 20px;
}
.signup_img{
  height: 470px;
}
.setting_img{
height: 90px;
margin-left: auto;
margin-right: auto;
width: 100%;
}
h4{
  font-family: exo-bold;
}
.bg_next{
  background-image: url(/public/images/Vector\ 3.svg);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
}
.pricing_section{
  text-align: center;
padding-top: 70px;
padding-bottom: 70px;

}
.pricing_content{
color: #fff;
font-family: exo-reg;
font-size: 17px;
}
.statebtn {
  width: 130px;
  color: #fff;
  height: 48px;
  margin-top: 3px;
  color: #010033;
  border-radius: 25px;
  background-color: transparent;
  border: none;
  font-size: 14px;
  font-weight: 700;
}
.statebtn1 {
  width: 130px;
  color: #fff;
  height: 48px;
  margin-top: 3px;
  border-radius: 25px;
  background-color: #010033;
  border: none;
  font-size: 14px;
  font-weight: 700;
}
.radio_section{
  background-color: #F0F0F0;
  height: 56px;
  display: flex;
  border-radius: 25px;
  padding-left: 3px;
  padding-right: 3px;
  margin-left: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 1px;
    margin-right: auto;
  width: 260px;
}
.crd1{
  width: 350px;
  background-color: #fff;
  padding-top: 25px;
  padding-right: 25px;
  border: 1px solid #00B3EC;
  margin-right: 40px;
}
.crd_flex{
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
.get_btn{
  outline: none;
  height: 50px;
  background-color: #00ACFF;
  color: #fff;
  border: none;
  border-radius: 25px;
  margin-bottom: 40px;
  margin-top: 20px;
  width: 270px;
}
.footer{
  background-color: #010033;
  display: flex;
  padding-top: 30px;
  justify-content: space-evenly;
  padding-bottom: 30px;
}
.icon2{
  padding-top: 7px;
  padding-right: 7px;
}
.footer_p{
  color: #fff;
  font-family: exo-reg;
}
.client_section{
  display: flex;
  padding-top:35px ;
}
.client_name{
  font-family: exo-bold;
  font-family: 13px;
}
.bio_data{
  font-family: exo-md;
  font-size: 12px;
}
.client_bio{
  text-align: left;
  padding-left: 15px;
}
.get_btn:hover {
  border: 2px solid #00B3EC;
  background: none;
  color: #00B3EC;
  font-family: exo-reg;
  transition: all 0.45s;
  animation: slidebg 2s linear infinite;
}
.crd_title{
  font-family: exo-bold;
  font-size: 24px;
  color: black;

  text-align: justify;
  padding-left: 20px;
}
.title_4{
  font-family: exo-md;
  font-size: 12px;
  text-align: justify;
  padding-left: 20px;
}
.child_flex{
  display: flex;
 padding-top: 20px;
  padding-left: 20px;
  padding-right: 25px;
  padding-bottom: 20px;
}
.tik{
padding-right: 20px;
}
.title_1{
  font-size: 55px;
  text-align: justify;
  padding-left: 20px;
  font-family: exo-bold;
}
.content_5{
  color: #6D6D6D;
  font-size: 16px;
  padding-top: 15px;
  text-align: justify;
  padding-left: 20px;
  padding-bottom: 20px;
}
.card_title2{
  font-size: 12px;
  
text-align: start;
  font-family: exo-md;
}
.card_title1{
  font-size: 16px;
  padding-left: 10px;
font-weight: 600;
  font-family: exo-md;
}
.third_f{
  display: flex;
  padding-bottom: 20px;
}
.orignal_card{
  width: 80%;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  margin-left: auto;
    margin-right: auto;
  padding-right: 20px;
  background-color: #fff;
}
.card_bg{
  background-color: #EFFAFF;
  display: flex;
 padding: 40px;
 margin-right: 15px;
 margin-top: 40px;

}
.team_card{
  border-radius: 12px !important;
  background-color: #fff !important;
  border: 1px solid #d1caca !important;
}
.p_4{
  font-size: 12px;
  font-family: exo-reg;
  color: #6D6D6D;
}
.review_section {
  padding-left: 30px;
  padding-bottom: 70px;
  padding-right: 30px;
}
.text_left{
  text-align: left;
}

.h2_1{
  font-family: exo-bold;
  font-size: 44px;
}
.review_section{
  text-align: center;
}
.review_flex{
  display: flex;
 align-items: baseline;
  justify-content: space-between;

}
.flex_cardss{
  text-align: center;
  display: flex;
  justify-content: center;
}
.why_card{
  width: 317px;
  margin-right: 20px;
  margin-top: 50px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 25px;
  height: 310px;
  background-color: #EFFAFF;
  border: 1px solid #00ACFF;
  border-radius: 5px;
}
.why_card:hover{
  transition: all 0.45s;
  animation: slidebg 2s linear infinite;
height: 320px;
margin-top: 30px;
}
.team_card:hover{
  transition: all 0.45s;
  animation: slidebg 2s linear infinite;
  border-top: 1.4px solid #00ACFF !important;
  border-right:2px solid #00ACFF !important;
  height: 310px !important;
  margin-top: 50px !important;
}
.btn_w{
  width: 180px;
  background-color: #010033;

}
.get_start_div{
margin-top: 30px;
}
.btn_w:hover{
  background-color: #ffc229 !important;
  border: none !important;
  color: #fff;
  transition: all 0.45s;
  animation: slidebg 2s linear infinite;
}

.arrow {
  position: absolute;
  z-index: 222222222;
  margin-top: 36px;
  margin-left: -36px;
}
.h2_3{
  font-size: 14px;
  font-family: exo-md;
}
.h2_2{
  font-size: 18px;
  font-family: exo-md;
  font-weight: 600;
  padding-bottom: 30px;
}
.why_card img {
  padding-bottom: 20px;
}
.why_me{
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
.heading_pricing2{
  font-size: 40px;
  font-family: exo-bold;
  color: #fff;
}
.customArrowLeft {
  position: absolute;
  left: 35px;
}
.customArrowRight {
  position: absolute;
  right: 50px;
}
.fields_flex{
  display: flex;
  padding-top: 30px;
  padding-bottom: 20px;
}
.input_cls{
  border: 1px solid #00B3EC;
  border-radius: 5px;
  outline: none;
  height: 40px;
  padding-left: 10px;
}
label{
  font-family: exo-reg;
}
.setting_icon{
  padding-right: 25px;
  text-align: end;
}
.setting_icon img {
height: 21px;
}
.item_fields_2{
  display: flex;
}
.signup_btn{
  color: #fff;
  background-color: #00B3EC;
 border-radius: 25px;
 height: 43px;
 width: 80%;
 font-family: exo-reg;
 border: none;
 margin-top: 30px;
}
.crd1:hover{
color: #00B3EC;
}
.signup_btn:hover {
  border: 2px solid #00B3EC;
  animation: slidebg 2s linear infinite;
  background: none;
  color: #00B3EC;
  font-family: exo-reg;
  transition: all 0.45s;
}
.login_with{
width: 100%;
}
.btn{
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}
.btn_setting{
  width: 20%;
  padding-left: 0;
  margin-left: auto;
  margin-right: auto;
  padding-right: 0;
}
@media (max-width: 768px) {
  .signup_img{
    display: none;
  }
  .hero_flex {
    flex-direction: column;
  }
  .login_flex{
    padding-right: 0;
  }
  .hero_img img {
    height: 340px;
  }
  .wel_div {
margin-top: 40px;
  }
  .h_1{
    font-size: 20px;
  }
  .p_1{
width: 72%;
font-size: 12.2px;
margin-top: 10px;
  }
  .wel_img{
height: fit-content;
width: 80%;

  }
  .content_9{
    padding-top: 40px;
    font-size: 30px;
  }
  .fields_flex{
    padding-left: 50px;
    flex-direction: column;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
  }
  .why_card{
    margin-left: auto;
    margin-right: auto;
    }
    .flex_cardss{
    flex-direction: column;
    }
  .fields_flex_mbl{
    padding-left:0 ;
    flex-direction: column;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
  }
  .item_fields_2 {
flex-direction: column;
}
.cpad{
  display: none;
}
.mbl_v{
  text-align: center;
  padding-top: 0 !important;
}
.content_part{
  width: 100%;
}
.ab_img {
height: 125px;
}
.pb_4{
padding-bottom: 1.5rem;
}
.Signup_flex{
  justify-content: center;
  padding-right: 0;
}
.item_fields{
  padding-right: 0 !important;
}
.pr_4{
padding-right: 0 !important;
}
.signup_btn{
  margin-top: 0;
  width: 73%;
}
.btn_setting{
width: 36%;
}
.setting_img{
  padding-top: 20px;
}
.crd_flex{
flex-direction: column;
}
.footer{
  flex-direction: column;
  padding-left: 40px;
}
.footer_2{
  padding-top: 30px;
}
.crd1 {
width: 300px;
margin-bottom: 20px;
margin-left: auto;
margin-right: auto;
}
.pricing_content{
padding-left: 20px;
padding-right: 20px;
font-size: 14px;
}
.content_5 {
font-size: 13.5px;
}
.get_btn{
  width: 210px;
}
}

